.dashboard-cards {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: #f5f5f5;
    padding: 1rem 2rem;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}