.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
}

/* Contenido */
.content {
    flex: 1;
    padding: 20px;
    background: #f5f7fa;
    overflow-y: auto;
}