{% load static %}
<!-- Sidebar -->
<div class="sidebar">
    <div class="logo">
        <h2><i class="fas fa-boxes"></i> InventarioPro</h2>
    </div>
    <ul class="nav-links">
        <li class="active"><a href="{% url 'inventario:main' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="{% url 'dashboard:producto' %}"><i class="fas fa-box"></i> Productos</a></li>
        <li><a href=""><i class="fas fa-tags"></i> Categorías</a></li>
        <li><a href="#"><i class="fas fa-warehouse"></i> Almacenes</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i> Compras</a></li>
        <li><a href="#"><i class="fas fa-chart-bar"></i> Reportes</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Configuración</a></li>
    </ul>
</div>